@font-face {
    src: url(font/Montserrat-Bold.ttf);
}
@font-face {
    src: url(font/Montserrat-SemiBold.ttf);
}
@font-face {
    src: url(font/Montserrat-Regular.ttf);
}
@font-face {
    src: url(font/Montserrat-ExtraBold.ttf);
}
@font-face {
    src: url(font/Montserrat-Black.ttf);
}
@font-face {
    src: url(font/Montserrat-Thin.ttf);
}

AnchorPane {
    -fx-background-color: white;
}

Button, ComboBox, TableView, TextField, DatePicker {
    -fx-cursor: hand;
    -fx-border-radius: 5;
}

Button {
    -fx-background-color: tomato;
    -fx-text-fill: white;
    -fx-font-family: "Montserrat SemiBold";
    -fx-alignment: center;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: tomato;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

Button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #fa7202;
}

#pageTitle {
    -fx-text-fill: tomato;
    -fx-font-family: "Montserrat ExtraBold";
    -fx-font-size: 24px;
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 0 2px 0 0;
    -fx-border-color: tomato;
    -fx-border-radius: 0;
}

#searchBar {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgba(0, 0, 0, 0.6);
}

#searchBar:focused {
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, tomato, 5, 0.5, 0, 0);
    -fx-background-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: transparent;
}

ComboBox, DatePicker {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgba(0, 0, 0, 0.6);
}

ComboBox:focused, DatePicker:focused {
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, tomato, 5, 0.5, 0, 0);
    -fx-background-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: transparent;
}

TableView {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}